In [194]:
pip install sklearn

Requirement already satisfied: sklearn in e:\users\rank\appdata\local\programs\python\python37-32\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in e:\users\rank\appdata\local\programs\python\python37-32\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: scipy>=0.19.1 in e:\users\rank\appdata\local\programs\python\python37-32\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied: numpy>=1.13.3 in e:\users\rank\appdata\local\programs\python\python37-32\lib\site-packages (from scikit-learn->sklearn) (1.18.3)
Requirement already satisfied: joblib>=0.11 in e:\users\rank\appdata\local\programs\python\python37-32\lib\site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\users\rank\appdata\local\programs\python\python37-32\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 20.2.2 is available.
You should consider upgrading via the 'E:\Users\rank\AppData\Local\Programs\Python\Python37-32\python.exe -m pip install --upgrade pip' command.

In [195]:
import pandas as pd

In [196]:
df=pd.read_csv('grade.csv')
test=pd.read_csv('grademl.csv')

In [197]:
x_train=df.drop('Result',axis=1)
x_train.head()

,['OS']_B,['OS']_B+,['OS']_A,['OS']_A+,['OS']_O,['DAA']_B,['DAA']_B+,['DAA']_A,['DAA']_A+,['DAA']_O,...,['DBMS']_B,['DBMS']_B+,['DBMS']_A,['DBMS']_A+,['DBMS']_O,['SE']_B,['SE']_B+,['SE']_A,['SE']_A+,['SE']_O
0,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [198]:
y_train=df['Result']
y_train.head()

0    90%
1    50%
2    60%
3    75%
4    95%
Name: Result, dtype: object

In [199]:
from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [200]:
model=LogisticRegression()
#model=RandomForestClassifier()
model.fit(x_train,y_train)

LogisticRegression()

In [201]:
test_x=test.drop('Result',axis=1)
test_y=test['Result']
test_y

0    90%
1    75%
2     0%
Name: Result, dtype: object

In [202]:

test_x

,['OS']_B,['OS']_B+,['OS']_A,['OS']_A+,['OS']_O,['DAA']_B,['DAA']_B+,['DAA']_A,['DAA']_A+,['DAA']_O,...,['DBMS']_B,['DBMS']_B+,['DBMS']_A,['DBMS']_A+,['DBMS']_O,['SE']_B,['SE']_B+,['SE']_A,['SE']_A+,['SE']_O
0,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [203]:
prediction=model.predict(test_x)
prediction

array(['90%', '75%', '0%'], dtype=object)

In [204]:
accuracy_score(test_y,prediction)

1.0

In [210]:
print(f"YOUR PASS PERCENTAGE FOR NEXT SEMESTER IS {prediction[2]}")

YOUR PASS PERCENTAGE FOR NEXT SEMESTER IS 0%