In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('grade.csv')
test=pd.read_csv('grademl.csv')

In [5]:
x_train=df.drop('Result',axis=1)
x_train.head()

,['OS']_B,['OS']_B+,['OS']_A,['OS']_A+,['OS']_O,['DAA']_B,['DAA']_B+,['DAA']_A,['DAA']_A+,['DAA']_O,...,['DBMS']_B,['DBMS']_B+,['DBMS']_A,['DBMS']_A+,['DBMS']_O,['SE']_B,['SE']_B+,['SE']_A,['SE']_A+,['SE']_O
0,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [6]:
y_train=df['Result']
y_train.head()

0    90%
1    50%
2    60%
3    75%
4    95%
Name: Result, dtype: object

In [7]:
from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [8]:
model=LogisticRegression()
#model=RandomForestClassifier()
model.fit(x_train,y_train)

LogisticRegression()

In [9]:
test_x=test.drop('Result',axis=1)
test_y=test['Result']
test_y

0    90%
1    75%
2     0%
Name: Result, dtype: object

In [10]:

test_x

,['OS']_B,['OS']_B+,['OS']_A,['OS']_A+,['OS']_O,['DAA']_B,['DAA']_B+,['DAA']_A,['DAA']_A+,['DAA']_O,...,['DBMS']_B,['DBMS']_B+,['DBMS']_A,['DBMS']_A+,['DBMS']_O,['SE']_B,['SE']_B+,['SE']_A,['SE']_A+,['SE']_O
0,0,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
prediction=model.predict(test_x)
prediction

array(['90%', '75%', '0%'], dtype=object)

In [12]:
accuracy_score(test_y,prediction)

1.0

In [17]:
print(f"YOUR PASS PREDICTION FOR NEXT SEMESTER IS {prediction[0]}")

YOUR PASS PREDICTION FOR NEXT SEMESTER IS 90%